<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>234329739883-0vj1gl3h8g9nc738gp903gt3fi6knaiq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234329739883-0vj1gl3h8g9nc738gp903gt3fi6knaiq</string>
	<key>API_KEY</key>
	<string>AIzaSyC4zhiCvIx4KslQzU574GCNMGqAcYLxSf4</string>
	<key>GCM_SENDER_ID</key>
	<string>234329739883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>includeTech.FireBaseAuthDemo</string>
	<key>PROJECT_ID</key>
	<string>authdemo-64a01</string>
	<key>STORAGE_BUCKET</key>
	<string>authdemo-64a01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234329739883:ios:736bd1852a6c77aa</string>
	<key>DATABASE_URL</key>
	<string>https://authdemo-64a01.firebaseio.com</string>
</dict>
</plist>